body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: rgb(228,228,235);
    margin: 0;
    color: #141414;
    box-sizing: border-box;
    font-size: 15px;
}
div {
box-sizing: border-box;
}
.col-1 {width: 8.33% !important;}
.col-2 {width: 16.66% !important;}
.col-3 {width: 25% !important;}
.col-4 {width: 33.33% !important;}
.col-5 {width: 41.66% !important;}
.col-6 {width: 50% !important;}
.col-7 {width: 58.33% !important;}
.col-8 {width: 66.66% !important;}
.col-9 {width: 75% !important;}
.col-10 {width: 83.33% !important;}
.col-11 {width: 91.66% !important;}
.col-12 {width: 100% !important;}
[class*="col-"] {
    padding: 2rem;
}
.header {
    background: rgb(37,39,51);
    color: white;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}
.header .brand {
    width: 10rem;
}
.header .title {
    text-align: center;
    width: 20rem;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 400;
    text-transform: uppercase;
}
.header .login {
    width: 10rem;
    color: transparent;
}
.header h2 {
    font-size: 22px;
    margin: 0;
}
.header h2 span {
    background: rgb(5,255,40);
    background: linear-gradient(337deg, rgba(5,255,40,1) 0%, rgba(0,255,211,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h1 span {
    background: rgb(0,134,255);
    background: linear-gradient(328deg, rgba(0,134,255,1) 0%, rgba(61,205,255,1) 100%);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
h3 {
    margin-top: 0;
    color: #4E4F4F;
    font-weight: 500;
    font-size: 17px;
}
.content {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.card {
    margin-top: 4rem;
    position: relative;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(26,54,126,0.125);
    border-radius: .25rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03),0 0.9375rem 1.40625rem rgba(4,9,20,0.03),0 0.25rem 0.53125rem rgba(4,9,20,0.05),0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-width: 0;
    transition: all .2s;
    padding: 2rem;
}
.card.link {
    cursor: pointer;
}
.card.link:hover {
    -webkit-box-shadow: 11px 11px 62px -19px rgba(0,0,0,0.7);
-moz-box-shadow: 11px 11px 62px -19px rgba(0,0,0,0.7);
box-shadow: 11px 11px 62px -19px rgba(0,0,0,0.7);
transform: scale(1.1,1.1);
}
.card h2 {
    margin-top: 0
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #DBDBDB;

}
.standings .table {
    overflow-x: auto;
}
.standings td:nth-child(1) {
    color: #ACACAC;
    width: 0.5rem;
    padding: 1rem 0;
    font-size: 20px;
}
.standings td:nth-child(2) img {
    width: 40px;
}
.standings td:nth-child(3) {
    text-align: left;
    font-weight: 500;
    padding-right: 2rem;
    padding-left: 0;
    transition: all 0.2s;
    cursor: pointer;
}
.standings td:nth-child(3):hover {
    color: #0F80FF;
}
.standings td:last-child {
    width: 4.5rem;
}
.standings td:last-child span {
    display: flex;
    justify-content: space-between;
}
.standings td:last-child div {
    width: 10px;
    height: 10px;
    background: #BABABA;
    border-radius: 5px;
    margin: 3px;
}
.standings th:nth-child(1) {
    text-align: left;
}
.standings th {
    font-weight: 300;
    color: #929292;
    font-size: 0.9rem;
}
.matches td:nth-child(6) {
    text-align: right;
    font-weight: 500;
    padding-right: 0;
}
.matches td:nth-child(2) {
    font-weight: 500;
    text-align: left;
    padding-left: 0;
}
.matches td:nth-child(4) {
    color: gray;
    font-size: 1.2rem;
}
.matches td:nth-child(3), .matches td:nth-child(5) {
    font-weight: 500;
    font-size: 1.6rem;
    width: 1rem;
}
.matches td:nth-child(3) {
    padding-right: 0;
}

.matches td:nth-child(5) {
    padding-left: 0;
}
.matches td img {
    width: 40px;
}
.matches tr {
    transition: all 0.2s;
    cursor: pointer;
}
.matches tr:hover {
    color: #0F80FF;
}
.simulator {
    text-align: center;
}
.simulator p,
.simulator h2 {
    text-align: left;
}
.simulator select {
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: none;
    width: calc(50% - 2rem);
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    padding: 1rem;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 0.2s;
    background: #F4F4F4;
    text-align: center;
    outline: none;
}
.simulator select:hover {
    background: #E0E0E0;
}
.simulator span {
    display: inline-block;
    margin: 0 0.5rem;
    width: 2rem;
    color: gray;
    font-size: 1.5rem;
}
.simulator button {
    background: #0F80FF;
    border: none;
    border-radius: .25rem;
    padding: 0.5rem 1.5rem;
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    transition: all 0.2s;
    outline: none;
}
.simulator button:hover {
    background: #0B5EBB;
}
.leagues {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.leagues a {
    display: block;
    width: 25%;
    min-width: 22rem;
}
.leagues .card {
    box-sizing: border-box;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 2rem);
}
.leagues .bra {
    width: calc(80% - 2rem);
    margin-bottom: 0.5rem;
}
.leagues .ale,
.leagues .fra {
    width: calc(70% - 2rem);
}
.leagues .ita {
    width: calc(50% - 2rem);
}
.leagues .por,
.leagues .en,
.leagues .esp,
.leagues .hol {
    width: calc(100% - 2rem);
}


/* match page */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.score div {
    min-width: 3rem;
    margin: 0 1rem;
}
.score div:nth-child(2) {
    text-align: right;
}
.score div:nth-child(8) {
    text-align: left;
}
.score div:nth-child(2),
.score div:nth-child(8) {
    font-size: 30px;
    font-weight: 600;
    width: 25%;
}
.score div:nth-child(3),
.score div:nth-child(7) {
    width: 5%;
}
.score div:nth-child(4) {
    margin: 0 0 0 3rem;
}
.score div:nth-child(6) {
    margin: 0 3rem 0 0;
}
.score div:nth-child(4),
.score div:nth-child(6) {
    text-align: center;
    width: 5%;
    font-size: 50px;
    font-weight: 700;
}
.score div:nth-child(5) {
    font-size: 20px;
    font-weight: 500;
    color: gray;
    text-align: center;
    margin: 0;
    min-width: 1rem;
}
.score div img {
    width: 100%;
}
.badge {
    font-weight: 400;
    font-size: 12px;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    color: white;
    background: #0F80FF;
}


.scores div {
    height: 3rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.scores div:nth-child(3) {
    color: #0F80FF;
    font-weight: 600;
    font-size: 40px;
}
.scores div:nth-child(4) {
    font-weight: 600;
    font-size: 30px;
}
.scores div:nth-child(5) {
    font-weight: 500;
    font-size: 30px;
}
.scores div:nth-child(6) {  
    font-weight: 500;
    font-size: 25px;
}
.scores {
    position: relative;
}
.scores .pos {
    position: absolute;
    top: 6.5rem;
    display: block;
}
.scores .pos div {
    height: 3rem;
    width: 2rem;
    font-weight: 600;
    color: gray;
    font-size: 17px;
    vertical-align: middle;
}
.scores .por {
    position: absolute;
    top: 6.5rem;
    right: 2rem;
    display: block;
}
.scores .por div {
    height: 3rem;
    width: 2rem;
    font-weight: 600;
    color: gray;
    font-size: 17px;
    vertical-align: middle;
}
.prob {
    display: flex;
    justify-content: space-around;
}
.prob div:nth-child(1) {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.prob div:nth-child(2) {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.prob div:nth-child(3) {
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.prob2 {
    font-weight: 400;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.prob2 div {
    text-align: center;
}
.heatmap {
    padding-top: calc(100% - 2rem);
    position: relative;
}
.heatmap-content {
    transform: rotate(45deg) scale(0.78,0.78);
    position: absolute;
    top: 2rem;
    right: 2rem;
    bottom: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    display: flex;
    flex-wrap: wrap;
}
.cell {
    width: calc(20% - 0.5rem);
    height: calc(20% - 0.5rem);
    margin: 0.25rem;
    border-radius: 100%;
    background: #0F80FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.cell .cell-txt {
    display: block;
    transform: rotate(-45deg);
    font-size: 1.4rem;
    line-height: 1.3rem;
}










@media (max-width: 1450px) {
.matches td:last-child {
    display: none;
}
[class*="col-"] {
    padding: 1rem;
}
.content {
    padding: 1rem;
}
.card {
    margin-top: 2rem;
}
.leagues {
    width: 100%;
}
@media (max-width: 1100px) {
[class*="col-"] {
    width: 100% !important;
}
.content {
    display: block;
}
}
@media (max-width: 600px) {
.header {
    display: block;
}
.title {
    width: 100% !important;
    margin-top: 1rem;
}
.login {
    display: none;
}
.matches td:nth-child(2) {
    display: none;
}
.matches td:nth-child(6) {
    display: none;
}
.content {
    padding: 0;
}
.card {
    margin: 0
}
[class*="col-"] {
    padding: 0;
}
}