{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Início</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="header" style="display: none;">
        <h1><span style="font-weight: 400">BRASILEIRÃO</span> 2020</h1>
      </div>
    <div class="content leagues">
      <div class="col">
        <a href="{% url 'league' league_id='2013' %}"><div class="card link">
          <img class="bra" src="{% static 'img/bra.png' %}">
        </div></a>
        <a href="{% url 'league' league_id='2015' %}"><div class="card link">
          <img class="fra" src="{% static 'img/fra.png' %}">
        </div></a>
      </div>
      <div class="col">
        <a href="{% url 'league' league_id='2021' %}"><div class="card link">
          <img class="en" src="{% static 'img/ing.png' %}">
        </div></a>
        <a href="{% url 'league' league_id='2019' %}"><div class="card link">
          <img class="ita" src="{% static 'img/ita.png' %}">
        </div></a>
      </div>
      <div class="col">
        <a href="{% url 'league' league_id='2014' %}"><div class="card link">
          <img class="esp" src="{% static 'img/esp.png' %}">
        </div></a>
        <a href="{% url 'league' league_id='2017' %}"><div class="card link">
          <img class="por" src="{% static 'img/por.png' %}">
        </div></a>
      </div>
      <div class="col">
        <a href="{% url 'league' league_id='2002' %}"><div class="card link">
          <img class="ale" src="{% static 'img/ale.png' %}">
        </div></a>
        <a href="{% url 'league' league_id='2003' %}"><div class="card link">
          <img class="hol" src="{% static 'img/hol.png' %}">
        </div></a>
      </div>
    </div>
  </body>
</html>