{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- <h1>{{teams.competition.area.name}} <span>{{teams.competition.name}}</span></h1> -->
    <div class="content">
      <div class="col-6">
      <div class="standings card" style="margin-top: 0">
        <h2>TABELA</h2>
      <div class="table">
      <table>
      <thead>
        <th colspan="3">
          CLASSIFICAÇÃO
        </th>
        <th>P</th>
        <th>J</th>
        <th>V</th>
        <th>E</th>
        <th>D</th>
        <th>GP</th>
        <th>GC</th>
        <th>SG</th>
        <th>ÚLT. JOGOS</th>
      </thead>
      <tbody>
      {% for item in table %}
      <tr onclick="window.location.href = '{{league.competition.id}}/{{item.team_id}}';">
        <td>{{ item.position }}</td>
          {% for team in teams %}
          {% if team.id == item.team_id %}
        <td><img src="{{ team.crestUrl }}" /></td>
        <td>
          {{ team.shortName }}
          {% endif %}
          {% endfor%}
        </td>
        <td>{{ item.points }}</td>
        <td>{{ item.played_games }}</td>
        <td>{{ item.won }}</td>
        <td>{{ item.draw }}</td>
        <td>{{ item.lost }}</td>
        <td>{{ item.goals_for }}</td>
        <td>{{ item.goals_against }}</td>
        <td>{{ item.goal_difference }}</td>
        <td>
          <span>
          <div style="background: {% if item.form.0 == 'W'%}limegreen{% elif item.form.0 == 'L' %}red{%endif%}"></div>
          <div style="background: {% if item.form.2 == 'W'%}limegreen{% elif item.form.2 == 'L' %}red{%endif%}"></div>
          <div style="background: {% if item.form.4 == 'W'%}limegreen{% elif item.form.4 == 'L' %}red{%endif%}"></div>
          <div style="background: {% if item.form.6 == 'W'%}limegreen{% elif item.form.6 == 'L' %}red{%endif%}"></div>
          <div style="background: {% if item.form.8 == 'W'%}limegreen{% elif item.form.8 == 'L' %}red{%endif%}"></div>
          </span>
        </td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
    </div>
    </div>
    <div class="col-6">
      <div class="card" style="margin-top: 0">
        <div class="stats">
          <div style="min-width: 15rem; margin-top: 1rem;">
              <h4>Melhor ataque</h4>
              <div>
              <img src="{{stats.best_attack.url}}"/>
              <div style="display: block; width: 7rem;">{{stats.best_attack.name}}<br>
              <span>{{stats.best_attack.goals}} gols</span><br>
              marcados</div>
              </div>
          </div>
          <div style="min-width: 15rem; margin-top: 1rem;">
              <h4>Melhor defesa</h4>
              <div>
              <img src="{{stats.best_defense.url}}"/>
              <div style="display: block; width: 7rem;">{{stats.best_defense.name}}<br>
              <span>{{stats.best_defense.goals}} gols</span><br>
              contra</div>
              </div>
          </div>
          <div style="min-width: 15rem; margin-top: 1rem;">
              <h4>Pior ataque</h4>
              <div>
              <img src="{{stats.worst_attack.url}}"/>
              <div style="display: block; width: 7rem;">{{stats.worst_attack.name}}<br>
              <span>{{stats.worst_attack.goals}} gols</span><br>
              marcados</div>
              </div>
          </div>
          <div style="min-width: 15rem; margin-top: 1rem;">
              <h4>Pior defesa</h4>
              <div>
              <img src="{{stats.worst_defense.url}}"/>
              <div style="display: block; width: 7rem;">{{stats.worst_defense.name}}<br>
              <span>{{stats.worst_defense.goals}} gols</span><br>
              contra</div>
              </div>
          </div>
        </div>
      </div>
      <div class="matches card">
        <h2>RODADA ATUAL</h2>
      <table>
      <thead>
      </thead>
      <tbody>
      {% for item in matches %}
      {% if item.matchday == item.season.currentMatchday %}
      <tr onclick="window.location.href = '{{league.competition.id}}/{{item.homeTeam.id}}/{{item.awayTeam.id}}';">
        <td>
          {% for team in teams %}
          {% if team.id == item.homeTeam.id %}
          <img src="{{ team.crestUrl }}" />
          {% endif %}
          {% endfor%}
        </td>
        <td>
          {% for team in teams %}
          {% if team.id == item.homeTeam.id %}
          {{ team.shortName }}
          {% endif %}
          {% endfor%}
        </td>
        <td>
          {% if item.status == 'FINISHED' %}{{ item.score.fullTime.homeTeam }}
          {% else %}{% endif %}
        </td>
        <td>{% if item.status == 'FINISHED' %}X
          {% else %}
          <span class="match-btn">VER PREVISÕES</span>
          {% endif %}</td>
        <td>
          {% if item.status == 'FINISHED' %}{{ item.score.fullTime.awayTeam }}
          {% else %}{% endif %}
        </td>
        <td>
          {% for team in teams %}
          {% if team.id == item.awayTeam.id %}
          {{ team.shortName }}
          {% endif %}
          {% endfor%}
        </td>
        <td>
          {% for team in teams %}
          {% if team.id == item.awayTeam.id %}
          <img src="{{ team.crestUrl }}" />
          {% endif %}
          {% endfor%}
        </td>
        <td>
          {{item.utcDate|slice:"8:10"}}/{{item.utcDate|slice:"5:7"}}/{{item.utcDate|slice:"0:4"}}
        </td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
      </table>
      </div>
      <div class="card simulator">
        <h2>SIMULAR</h2>
        <p>Escolha dois times para prever o resultado da partida</p>
        <select id="home">
          <option disabled selected>Casa</option>
          {% for team in teams %}
          <option value="{{ team.id }}">{{ team.shortName }}</option>
          {% endfor %}
        </select>
        <span>X</span>
        <select id="away">
          <option disabled selected>Visitante</option>
          {% for team in teams %}
          <option value="{{ team.id }}">{{ team.shortName }}</option>
          {% endfor %}
        </select>
        <button id="simulate">SIMULAR</button>
      </div>
    </div>
    </div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
      $( "#simulate" ).click(function() {
        var homeTeam = $( "#home option:selected" ).val();
        var awayTeam = $( "#away option:selected" ).val();
        window.location.href = '{{league.competition.id}}/'+homeTeam+'/'+awayTeam;
      });
    </script>
{% endblock %}