{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- <h1>{{teams.competition.area.name}} <span>{{teams.competition.name}}</span></h1> -->
    <div class="content" style="max-width: 1200px; margin: auto; flex-wrap: wrap;">
      <div class="col-6">
        <div class="card team" style="margin-top: 0">
          <img src="{{team.crestUrl}}" /><h1>{{team.shortName}}</h1>
        </div>
          <div class="card infos" style="width: 100%; text-align: center; display: flex; align-items: center; flex-wrap: wrap; justify-content: center;">
          <div style="width: 100%; text-align: center; margin-bottom: 1rem;">
            <h3>{{league.area.name}} {{league.name}}</h3>
          </div>
          <div style="width: 50%">
            <h2 style="text-align: center;"><strong style="font-size: 70px; {% if table.position == 1 %}color: #0F80FF;{% endif %} font-weight: 600">{{table.position}}°</strong><br>colocado</h2>
          </div>
          <div style="width: 50%">
            <h2 style="text-align: center;"><strong style="font-size: 70px;font-weight: 600">{{table.points}}</strong><br>pontos</h2>
          </div>
        </div>
          <div class="card">
            <h2>GOLS</h2>
            <div style="display: flex; justify-content: space-between;">
              <div>
                <span style="color: #0F80FF; font-size: 25px;">{{table.goals_for}} <span style="font-size: 20px;">gols marcados</span></span>
              </div>
              <div>
                <span style="color: #FC0107; font-size: 25px; {% if table.goals_for >= table.goals_against %}display: none;{% endif %}"><span style="font-size: 20px;">saldo de gols</span> {{table.goal_difference}}</span>
              </div>
            </div>
            <div class="goals">
              <div style="{% if table.goals_for >= table.goals_against %}width: 100%;{% else %}width: calc({{table.goals_for}}00% / {{table.goals_against}}); padding-right: 0.5rem;{% endif %} text-align: left;">
                <div class="goals_bar" style=" background: #0F80FF;"></div>
              </div>
              <div style="{% if table.goals_for >= table.goals_against %}display: none;{% else %} width: calc(({{table.goals_against}}00% - {{table.goals_for}}00%) / {{table.goals_against}}); padding-left: 0.5rem;{% endif %} text-align: right;">
                <div class="goals_bar" style=" background: #FC0107;"></div>
              </div>
            </div>
            <div class="goals">
              <div style="{% if table.goals_for <= table.goals_against %}width: 100%;{% else %}width: calc({{table.goals_against}}00% / {{table.goals_for}}); padding-right: 0.5rem;{% endif %} text-align: left;">
                <div class="goals_bar" style=" background: #333;"></div>
              </div>
              <div style="{% if table.goals_for <= table.goals_against %}display: none;{% else %} width: calc(({{table.goals_for}}00% - {{table.goals_against}}00%) / {{table.goals_for}}); padding-left: 0.5rem;{% endif %} text-align: right;">
                <div class="goals_bar" style=" background: #00B732;"></div>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <span style="color: #333; font-size: 25px;">{{table.goals_against}} <span style="font-size: 20px;">gols contra</span></span>
                <span style="color: #00B732; font-size: 25px; {% if table.goals_for <= table.goals_against %}display: none;{% endif %}"><span style="font-size: 20px;">saldo de gols</span> {{table.goal_difference}}</span>
            </div>
          </div>
      </div>
      <div class="col-6">
          <div class="card" style="margin-top: 0;">
            <h2>APROVEITAMENTO</h2>
            {{plot|safe}}
          </div>
          <div class="card" style="height: 20rem;">
            <h2>ÚLTIMOS JOGOS</h2>
          </div>
      </div>
    </div>
    {{results}}
{% endblock %}